<%- include('partials/header'); %>
    <%- include('partials/nav') %>
        <h1>This is Home</h1>
        <h3>
            <%= welcomeString %>
        </h3>

        <script>

        </script>
        <%- include('partials/footer') %>