.container {
    min-height: 95svh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
}

.info-sorry {
    font-family: Armata, sans-serif;
}

p.contact {
    font-size: 1.5rem;
}