.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    box-shadow: 1px 1px gray;
    margin: 1rem;
    padding: 1rem;
    min-width: 75%;
}

footer {
    position: absolute;
    bottom: 0;
}