.form-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80svh;
}

.tip {
    font-size: 0.9rem;
}

form {
    box-shadow: 2px 2px 5px gray;
    padding: 1rem;
    max-width: 30%;
    min-width: 25%;
    border-radius: 10px;
}

footer {
    position: absolute;
    bottom: 0;
}